.page-header
  = link_to "New Note", new_plant_entry_general_note_path(@plant_entry), class: "btn btn-success pull-right"
  %h2 List of Plant Notes

%table.table.striped
  %thead
    %tr
      %th Note

  %tbody
    - @general_notes.each do |general_note|
      %tr
        %td= link_to general_note.notes, plant_entry_general_note_path(@plant_entry, general_note)
