.page-header
  .pull-right
    =link_to "Edit", edit_plant_entry_general_note_path(@plant_entry, @general_note), class: "btn btn-info"
  %h2
    = "#" + @plant.id_number + " " + @plant.strain_name + " - Notes"

%dl.dl-horizontal
  %dt Note
  %dd= @general_note.notes
