.page-header
  .pull-right
    =link_to "Edit", edit_crop_plant_path(@crop, @plant), class: "btn btn-info"
  %h2
    =@plant.strain_name

%dl.dl-horizontal
  %dt Sex
  %dd= @plant.sex
  %dt From
  %dd= @plant.from
  %dt Stage Of Growth
  %dd=link_to "Add Stage of Growth", new_plant_stage_of_growth_path(@plant), class: "btn btn-success"

-# = link_to "copy", copy_crop_plant_path(params[:id])
