.page-header
  = link_to "New Garden", new_garden_path, class: "btn btn-success pull-right"
  %h2 List of Gardens

- @gardens.each do |garden|
  %h4= link_to garden.name, garden_path(garden)
  %dl
    %dt Crops
    %dd
      - garden.crops.each do |crop|
        %p= link_to crop.name, crop_plants_path(crop)
