.page-header
  %h2 Flushing Tips

%ul
  %li Normally the last 2 weeks.
  %li Look for 30% of the pistals being brown.
  %li Add 1 tsp of molasses to the water and no nutes when you start the flush
    %li Add 1.2 tsp of coco wet and spray under leaves to increase effectiveness
    %li Use in decreasing increments and only use ice water the last 3 days
  %li Can use a 10000K light for the best results
  %li Drop humidity to 32-35%
  %li Do an ice shock for the last two waters for an added final stressor
  %li Keep the lights off for 24-48 hours (preferably 36) before cutting down
