.page-header
  = link_to "New Spraying", new_plant_spraying_path(@plant_entry), class: "btn btn-success pull-right"
  %h2 List of Plant Sprayings

%table.table.striped
  %thead
    %tr
      %th Spraying

  %tbody
    - @sprayings.each do |spraying|
      %tr
        %td= link_to spraying.notes, plant_entry_spraying_path(@plant_entry, spraying)
